<% include partials/header%>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
<style>
    .row.content {height: auto}
    .sidenav {
        background-color: whitesmoke;
        height: auto;
    }
</style>

<!-- Side navigation bar-->

<div class="container-fluid">
    <div class="row content"  style="margin-top: 8%; margin-left: 6%; margin-right: 8%">

        <% include partials/adminsidebar%>
        <!-- Users table-->

        <div class="col-sm-offset-1 col-sm-8 " style="margin-top: 0px">
            <div class="row">
                <div class="col-sm-9  text-center jumbotron">
                    <h2>Courses</h2>
                    <table id="table_id" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Category</th>
                            <th>Enable or Disable</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% courses.forEach(function(course) { %>
                        <tr>
                            <td><%= counter++%></td>
                            <td><%= course.title %></td>
                            <td><%= course.level %></td>
                            <td><%= course.category %></td>

                            <td><input class="status" data-id="<%= course.course_id %>" type="checkbox" <%= course.course_status ? "checked" : "" %> value="<%= course.course_status %>" name="accountstatus" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" ></td>
                        </tr>
                        <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-9  text-center jumbotron">
                    <a href="/courses">Upload a Course</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <% include partials/loginModal %>
<% include partials/footer %>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready( function () {

            $('#table_id').DataTable({

                "iDisplayLength": 25
            });

            $('.status').on('change', function(e) {
                var status = $(this).prop("checked");
                $(this).attr('checked', status);
                $(this).val(status);
                console.log(status);
                $target = $(e.target);
                var id = $target.attr('data-id');
                $.ajax({
                    type:'POST',
                    url:'/activatecourse/' + status + "/" + id,
                    success: function (response) {
                        console.log(response);
                    }
                });
            });
        });
    </script>