<% include partials/header%>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
<style>
    .row.content {height: 1500px}
    .sidenav {
        background-color: whitesmoke;
        height: 100%;
    }
</style>

<!-- Side navigation bar-->

<div class="container-fluid">
    <div class="row content"  style="margin-top: 8%; margin-left: 6%; margin-right: 8%">
        <div class="col-sm-3 sidenav jumbotron" >
            <img src="https://www.infojobs.it/logo/logo/do-get.xhtml?id=4892987718&dgv=506969630811119956" class="img-rounded" alt="Admin profile picture" width="300" style=" margin-left: 0.1%">
            <ul class="nav nav-pills nav-stacked" style="margin-top: 10%; color: whitesmoke; font-family:Aclonica; font-size: 100% ">
                <li><a href="#section1">Home</a></li>
                <li><a href="#section3">Profile</a></li>
                <li><a href="#section3">Courses</a></li>
                <li class="active" ><a href="#section3">Users</a></li>
            </ul><br>
        </div>

        <!-- Users table-->

        <div class="col-sm-offset-1 col-sm-8 " style="margin-top: 0px">
            <div class="row">
                <div class="col-sm-9 jumbotron">
                    <h2>Users</h2>
                       <table class="table table-bordered table-hover" id="table_id">
                           <thead>
                               <tr>
                                   <th>S.No</th>
                                   <th>Name</th>
                                   <th>e-mail</th>
                                   <th>Role</th>
                                   <th>Enable or Disable</th>
                               </tr>
                           </thead>
                           <tbody>

                           <% users.forEach(function(user) { %>
                               <tr>
                                   <td><%= counter++%></td>
                                   <td><%= user.firstname + ' ' + user.lastname %></td>
                                   <td><%= user.email %></td>
                                   <td><%= user.role %></td>
                                   <td><input type="checkbox" name="accountstatus" value="<%= user.account_status %>" data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></td>
                               </tr>
                           <% }) %>

                           </tbody>
                       </table>
            </div>

        </div>

    </div>
</div>


<% include partials/loginModal %>
<% include partials/footer %>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
</div>
    <script>

        $(document).ready( function () {
        $('#table_id').DataTable();
        } );

    </script>